<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student</title>
</head>
<body>
    <h1>Add a new student</h1>
    <form action="/api/add_student" method="POST">
        <label for="name">Name</label>
        <input type="text" value="" placeholder="Enter name" id="name" name="name">
        <br>
        <br>
        <label for="roll_number">Roll Number</label>
        <input type="text" value="" placeholder="Enter Roll number" id="roll_number" name="roll_number">
        <br>
        <br>
        <label for="wad_marks">WAD Marks</label>
        <input type="text" value="" placeholder="Enter WAD Marks" id="wad_marks" name="wad_marks">
        <br>
        <br><label for="cc_marks">CC Marks</label>
        <input type="text" value="" placeholder="Enter CC Marks" id="cc_marks" name="cc_marks">
        <br>
        <br><label for="AI_marks">AI marks</label>
        <input type="text" value="" placeholder="Enter AI Marks" id="AI_marks" name="AI_marks">
        <br>
        <br><label for="cns_marks">CNS Marks</label>
        <input type="text" value="" placeholder="Enter CNS Marks" id="cns_marks" name="cns_marks">
        <br>
        <br><label for="dsbda_marks">DSBDA Marks</label>
        <input type="text" value="" placeholder="Enter DSBDA Marks" id="dsbda_marks" name="dsbda_marks">
        <br>
        <br>
        <button type="submit">
            Submit
        </button>
    </form>
</body>
</html>